<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Majkosoft</title>
</head>
<body>
  <div class="bodyContainer">
    <menu class="item1">
         <img src="assets/logoMicrosoft.png">
        <a class="active" href="#home">Microsoft 365</a>
        <a href="#news">Teams</a>
        <a href="#contact">Windows</a>
        <a href="#about">Surface</a>
        <a href="#about">Xbox</a>
        <a href="#about">Podpora</a>      
     </menu>
     <div class="item3"><app-carousel [images]="images"></app-carousel></div>  
    <div class="item5">Footer</div>
  </div>
</body>
</html>

